body{
    margin: 0;
    
}
.header{
    padding: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 36px;
    font-weight: 900;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 12px;
    padding: 8px;
}
.backg{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 520px;
}
.content{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;  
    display: flex;
    flex-direction: column;
}
.all{
    display: flex;
    justify-content: space-around;
    padding: 16px;
}
button{
    font-size: 18px;
    background-color: #3882f6;
    border-radius: 10px;
    padding:  10px ;
    border: 0;
    align-self: flex-start;
}
.border{
    border:2px;
    border-radius: 8px;
    width: 100px;
    height: 100px;
    border-color: blue;
    border-style: solid;
}
.info{
    font-size: 36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}
.container2{
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 55px;
}
.con{
    max-width: 100px;
    text-align: center;
}
.two{
    height: 400px;
}
.p{
    display: flex;  
    justify-content: center;
    background-color: #E5E7eb;
    height: 150px;
    align-items: center;
}
#container{
    display: flex;
    flex-direction: column;

}
#all{
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    margin: 40px;
    border-radius: 8px;
}
#button{
    width:100px;
    align-self: center;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}
#content{
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
.footer{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    flex-basis: 70px;
    align-items: center;
}